.app {
  margin-top: 150px;
}

.app__container {}

.app__body {
  display: flex;
}

.app__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1 1 50%;
  justify-content: space-around;
}

.app__header {
  margin-bottom: 20px;
}

.app__header>*:not(:last-child) {
  margin-bottom: 20px;
}

.app__title {}

.app__sub-title {
  max-width: 390px;
}

.app__button {
  padding: 15px 70px;
}

.app__img {
  padding-bottom: 32%;
  flex: 1 1 50%;
}

@media (max-width:832px) {
  .app {
    margin-top: 80px;
  }

  .app__button {
    padding: 10px 55px;
  }
}

@media (max-width:731px) {
  .app {
    margin-top: 50px;
  }

  .app__body {
    flex-direction: column;
  }

  .app__content {
    align-items: center;
    margin: 0 0;
    text-align: center;
  }

  .app__img {
    width: 75%;
    height: 75%;
    padding-bottom: 55%;
    margin: 0 auto;
  }

  .app__header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width:450px) {
  .app__img {
    width: 100%;
    height: 100%;
    padding-bottom: 65%;
    margin: 0 auto;
  }
}

@media (max-width:325px) {
  .app__title {
    font-size: 28px;
  }
}